*/ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.artLink {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    background-color: rgb(204, 120, 243);
    width: 100%;
  } 
  .artLink p {
    padding-right: 20px;
  }
  .aboutMoi {
    display: grid;
    grid-template-columns: 45% 55%; 
  }
  .aboutMoi {
      background-image: linear-gradient(to bottom, white, rgb(204, 120, 243));
  }

  .aboutMoi img {
    width: 90%;
    margin:4%;
    border-radius: 20px;
  }
  
  .meText {
    margin: 2%;
  }
  li {
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #372357;
 }
 span {
  text-decoration: underline;
 } 

.nav {
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: #372357;
    align-items: center;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
  .nav li{
    list-style:  none;
    
  }
  .nav-item {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #372357;
    font-weight: 800;
  }
  
  .nav-link{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #372357;
    
  }
  form {
    padding: 2%;}
    h1 { 
        font-family: 'Lobster', cursive;
        color: #372357;
        font-size: 83px;
      }
      h2{
        font-family: 'Lobster', cursive;
        color: #372357;
        font-size: 40px;
        text-align: center;
      }    
      h5 {
        font-family: 'Lobster', cursive;
        color: #372357;
        font-size: 35px;
        align-items: flex-start;
        flex-grow: 2;
      
      }
      p {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: #372357;
      }
      
     
      .nameForm {
        margin-bottom: 15px;
      }
      .fondo {
        background-color: rgb(204, 120, 243);
      }
      .btn{
        padding: 0;
        
      }
      
      
      footer {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px;
          background-color: white;
        }
      footer img {
          width: 3%;
        }
      
      
@media (max-width: 768px) {
        .cardSection{
          flex-direction: column;
        }
        button {
          width: 134px;
          height: 40px;}
        button p {
          font-size: 20px;
        }  
        h1 {
          font-size: 40px;
        }
        h2 {
          font-size: 22px;
        }
        h5 {
          font-size: 21px;
        }
        p {
          font-size: 18px;
        }
        li {
            font-size: 18px;}
        .card{
          margin: auto 0;
        }
        td {
          font-size: 16px;
        }
        .nav-link{
          font-size: 16px;
        }
        .nav1 {
          order: 1;
        }
        .nav2 {
          order: 3;
        }
      
        .nav3 {
          order: 2;
        }
        footer img {
          width: 14%;
          padding: 1%;
         
        }
        .aboutMoi {
            display: block;
          }
      
      
      
      }               